@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("images/fondo.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.left-panel {
    flex: 1;
    background-image: url('images/robot.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 60%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-right: 400px; /* Agrega más espacio a la derecha */
  }

.right-panel {
    background: none; /* Elimina cualquier fondo */
    background-color: transparent; /* Asegura que sean completamente transparentes */
    padding-left: 100px; /* Agrega más espacio a la derecha */
  }  

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Agrega más espacio a la derecha */
    gap: 20px; /* Reduce el espacio entre los elementos */
    width: 100%;
}

.login-form .icon {
    margin-right: 10px; /* espacio entre el icono y el texto hacia la izquierda*/
}

a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 11px; /* Espacio arriba del label */
    display: inline-block;
}

button {
    width: 80%; /* Ocupa todo el ancho del contenedor */
    padding: 12px; /* Espaciado interno para mejor apariencia */
    background-color: #EFA020; /* Color de fondo */
    color: white; /* Texto en blanco */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: #efa020c5; /* Azul más oscuro */
    transform: scale(1.05); /* Hace que el botón se agrande un poco */
}

button:active {
    transform: scale(0.95); /* Hace que el botón se amplie al hacer clic */
}

.title-imagen {
    width: 500px;  /* Ajusta según el tamaño de la imagen */
    height: 100px; /* Ajusta la altura de la imagen */
    background-image: url('images/titulo_simulador.png'); /* Ruta correcta */
    background-size: contain;  /* Ajusta la imagen sin distorsionarla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen */
}

.input-container {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 8px;
    width: 80%;  /* Tamaño del formulario login */
}

.input-container input {    
    font-size: 15px; /* Tamaño del texto ingresado */
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
}

.input-container .divider {
    height: 20px;
    width: 1px;  /* Grosor de la línea */
    background-color: #ccc;
    margin-right: 10px;  /* Espacio entre el icono de usuario y el texto hacia la derecha */
}

.divider-line {
    position: absolute;
    left: 45%;
    top: 20%;
    bottom: 15%;
    width: 20px; /* Grosor de la línea */
    background-image: url("images/linea_login.png");
    background-repeat: repeat-y; /* Para que se repita en vertical */
    background-size: contain; /* Ajusta la imagen al tamaño del div */
}

.options {
    display: flex;
    justify-content: space-between; /* Mueve un elemento a la izquierda y otro a la derecha */
    align-items: center; /* Asegura que estén alineados verticalmente */
    width: 80%; /* Ocupa todo el ancho disponible */
    font-size: 14px;
    margin-top: 1px; /* Espacio arriba */
}

.options label {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el checkbox y el texto */
}

/* Estilo del enlace "Olvidé contraseña" */
.options a {
    color: #542f92;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 14px; /* Tamaño de fuente */
}

.options a:hover {
    color: #7747ca; /* Cambia el color al pasar el mouse */
    text-decoration: underline;
}

.register-option a:hover {
    color: #7747ca; /* Cambia a naranja en hover */
    text-decoration: underline;
}

.register-option span {
    margin-right: 10px; /* Espacio entre el texto y el enlace */
}

.footer {
    background-color: #1F2738; 
    height: 80px; /* Altura del footer */
    width: 100%; /* Ancho completo */
    position: fixed; /* Fijado en la parte inferior */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Centra el contenido */
}

/* Logo dentro del footer */
.footer::before {
    content: "";
    background-image: url("images/logo_ceipa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 160px; /* Tamaño del logo Ceipa footer */
    height: 60px;
    display: block;
}

/*---------------------------------- Styles Register ----------------------------------------*/

/* Contenedor de la imagen y formulario */
.register-container {
    position: relative;
    width: 50vw;  /* 50% del ancho de la pantalla */
    height: 40vh; /* 50% del alto de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen de fondo robot registro */
.register-background {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150%;
    max-width: none; /* Permite que la imagen crezca más allá del tamaño normal */
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden; /* Evita que la imagen genere barras de desplazamiento */
}

.register-form-r {
    position: absolute;
    top: 65%;
    left: 85%; /* Mueve el formulario más a la izquierda */
    transform: translate(-55%, -50%); /* Ajusta más la posición */
    width: 100%;
    max-width: 500px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);  
    outline: none; /* Evita el borde azul al hacer clic */
}

.input-container-r {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

/* Iconos de registro*/
.input-icon {
    width: 30px;
    height: 24px;
    margin-right: 10px;
}

/* Divider entre el ícono y el input */
.input-divider-r {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin-right: 10px;
}

/* Ajustes para los inputs */
.input-container-r input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 4px;
    font-size: 16px;
}

.register-form-r button {
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.options p {
    text-align: center; /* Alinea el texto a la derecha */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    margin: 5px; /* Elimina márgenes innecesarios */
    padding: 5px; /* Ajusta el espaciado */
}

